%default_text {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
}

%header_txt {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
}

%info_txt {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
}

%title_txt {
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    line-height: 22px;
    text-decoration-line: none;
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

body {
    font-family: 'Lato', sans-serif;
    background: white;
    color: black;
}