<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.Meta.Title}}</title>
    <meta name="author" content="{{.Meta.Author}}" />
    <meta name="description" content="{{.Meta.Description}}" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/startpage.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/table.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/footer.css" />
</head>

<body>
    <header class="header">
        <a href="/"> <img id="logo" src="/static/img/grb-logo.svg" alt="gym logo"> </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="/about">о клубе</a>
            </li>
            <li><a href="/online">онлайн</a></li>
            <li><a href="/competitions">соревнования</a></li>
        </ul>
    </header>

    <main>

        <a href="/blog/2021/legenda-cup/">
            <h1>Legenda cup</h1>
            <div class="image-container">
                <img class="center" src="/static/img/competitions/2021/winter/legend-cup-hero.jpg" alt="">
            </div>
        </a>

        <a href="/blog/2021/new-yeat-open-lesson/">
            <h1>Новогодний открытый урок</h1>
            <div class="image-container">
                <img class="center" src="/static/img/competitions/2021/winter/new-year-hero.jpg" alt="">
            </div>
        </a>

    </main>
</body>

</html>