<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.Meta.Title}}</title>
    <link rel="icon" href="/static/img/grb-logo.ico">
    <meta name="author" content="{{.Meta.Author}}" />
    <meta name="description" content="{{.Meta.Description}}" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/generated/css/startpage.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/table.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/about.css" />
</head>

<body>
    <main>
        {{range $page := .Pages}} {{end}}
    </main>
</body>

</html>