<!DOCTYPE html>
<html lang="en">

<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/not-found.css" />

</head>

<body>

    <section class="content_404">
        <img class="logo" src="/static/img/grb-logo.svg">
        <p class="line1">404</p>
        <p class="line2">К сожалению такой страницы нету</p>
        <p class="line3">Возможно ее удалили или переименовали</p>
        <div class="next_link">
            <a href="/">
                <p class="line4">вернуться на главную</p>
            </a>
        </div>

    </section>

</body>


</html>