<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.Meta.Title}}</title>
    <link rel="icon" href="/static/img/grb-logo.ico">
    <meta name="author" content="{{.Meta.Author}}" />
    <meta name="description" content="{{.Meta.Description}}" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/generated/css/startpage.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/table.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/about.css" />
</head>

<body>
    <header class="header">
        <a href="/"> <img id="logo" src="/static/img/grb-logo.svg" alt="G3"> </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="/about">о клубе</a>
            </li>
            <li><a href="/online">онлайн</a></li>
            <li><a href="/competitions">соревнования</a></li>
        </ul>
    </header>
    <hr>
    <main>
        <h1>{{.Page.Title}}</h1>
        <h4>{{.Page.Description}}</h4>
        <br>
        <br>
        <br> {{.Page.Content}}

    </main>
    <aside>
        <!-- <h4>Related</h4>
        {{range $related := .Page.Related}}
        <p><a href="{{$related.Href}}">{{$related.Title}}</a></p>
        {{end}} -->
    </aside>
</body>

</html>