<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.Meta.Title}}</title>
    <meta name="author" content="{{.Meta.Author}}" />
    <meta name="description" content="{{.Meta.Description}}" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/startpage.css" />
    <link rel="stylesheet" type="text/css" href="/generated/css/table.css" />

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <header>
        <nav>
            <a href="/"> <img id="logo" src="/static/img/grb-logo.svg" alt="G3"> </a>
            <!-- <a href="/locations">локации</a>
            <a href="/locations">о клубе</a>
            <a href="/contacts">контакты </a> -->
        </nav>
    </header>
    <hr>
    <main>
        <br>
        <br>
        <br>
        <br>
        <h1>Объявляем набор девочек на занятия гимнастикой от 3 лет в наш клуб</h1>
        <br>
        <br>
        <br>
        <br>

        <div id="generic_price_table">
            <section>

                <div class="container">

                    <div class="row">
                        <div class="col-md-4">

                            <div class="generic_content clearfix">

                                <div class="generic_head_price clearfix">
                                    <hr>
                                    <div class="generic_head_content clearfix">

                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>ФИЛИАЛ 1</span>
                                        </div>

                                    </div>
                                    <hr>


                                </div>

                                <div class="generic_feature_list">
                                    <ul>
                                        <li><span>Ⓜ️ </span>Цветной бульвар</li>
                                        <b><li><span> <a href="yandexmaps://maps.yandex.com/?ol=geo&text=Sadovaya-Samotyochnaya%20ulitsa%2C%204&sll=37.613431%2C55.772401&sspn=0.004628%2C0.008210" >ул. Садовая-Самотёчная дом 4</a></span></li></b>
                                        <li><span></span> Расписание</li>
                                        <li><span>понедельник: </span> 17:00 - 19:00</li>
                                        <li><span>среда: </span> 16:00-18:00</li>
                                        <li><span>пятница: </span> 17:00-19:00</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="generic_content clearfix">

                                <div class="generic_head_price clearfix">
                                    <hr>
                                    <div class="generic_head_content clearfix">

                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>ФИЛИАЛ 2</span>
                                        </div>

                                    </div>
                                    <hr>


                                </div>

                                <div class="generic_feature_list">
                                    <ul>
                                        <li><span>Ⓜ️ </span>Деловой Центр</li>
                                        <b><li><span> <a href="yandexmaps://maps.yandex.com/?ol=geo&text=Presnenskaya%20naberezhnaya%2C%208%D1%811&sll=37.539087%2C55.747115&sspn=0.004631%2C0.008211" >ул. Пресненская набережная 8с1</a></span></li></b>
                                        <li><span></span> Расписание</li>
                                        <li><span>понедельник: </span> 17:00 - 18:00</li>
                                        <li><span>среда: </span> 17:00 - 18:00</li>
                                        <li><span>пятница: </span> 17:00 - 18:00</li>
                                    </ul>
                                </div>

                            </div>

                        </div>


                        <div class="col-md-4">

                            <div class="generic_content clearfix">

                                <div class="generic_head_price clearfix">
                                    <hr>
                                    <div class="generic_head_content clearfix">

                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>ФИЛИАЛ 3</span>
                                        </div>

                                    </div>
                                    <hr>


                                </div>

                                <div class="generic_feature_list">
                                    <ul>
                                        <li><span>Ⓜ️ </span>Чистые пруды</li>
                                        <b><li><span> <a href="yandexmaps://maps.yandex.com/?ol=geo&text=Armyanskiy%20pereulok%2C%207&sll=37.636581%2C55.759983&sspn=0.004629%2C0.008211" >ул. Армянский переулок 7</a></span></li></b>
                                        <li><span></span> Расписание</li>
                                        <li><span>среда: </span> 17:00 - 19:00</li>
                                        <li><span>суббота: </span> 10:00-12:00</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <br>
                        <br>
                        <br>
                        <br>

                        <div class="col-md-4">

                            <div class="generic_content clearfix">

                                <div class="generic_head_price clearfix">
                                    <hr>
                                    <div class="generic_head_content clearfix">

                                        <div class="head_bg"></div>
                                        <div class="head">
                                            <span>КОНТАКТЫ</span>
                                        </div>

                                    </div>
                                    <hr>


                                </div>

                                <div class="generic_feature_list">
                                    <ul>
                                        <b> <li><span><a href="tel:+7(909)935-70-14">+7(909)935-70-14</a></span></li></b>
                                        <b><li><span><a href="tel:+7(925)718-69-09">+7(925)718-69-09</a></span></li></b>
                                        <b><li><span><a href="https://t.me/dashajuck">telegram</a></span></li></b>
                                        <li><span></span></li>
                                        <li><span></span></li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </section>
        </div>

        <br>
        <br>
        <br>

        <div id='map' style='width: 100%; height: 500px;'></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiamVrYWJvbHQiLCJhIjoiY2o1cDM2MnN1MDZqdzJxcDluM2s2cHhzMyJ9.RKkB1nmJqMirqJTLV9OO-A';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v10',
                center: [37.616158406249994, 55.7512565],
                zoom: 11
            });
            const marker1 = new mapboxgl.Marker({
                    color: 'black',
                    rotation: 45
                })
                .setLngLat([37.616358, 55.773949])
                .addTo(map);

            const marker2 = new mapboxgl.Marker({
                    color: 'black',
                    rotation: 45
                })
                .setLngLat([37.543043, 55.747416])
                .addTo(map);

            const marker3 = new mapboxgl.Marker({
                    color: 'black',
                    rotation: 45
                })
                .setLngLat([37.636335, 55.760192])
                .addTo(map);

            map.scrollZoom.disable();
        </script>

    </main>
</body>


</html>